<footer class="footer"> 
	<a href="https://github.com/fujiwara-quantum-lab" aria-label="GitHub" target="_blank">
	  <img src="/assets/img/icons/github.svg" alt="GitHub" class="social-svg">
	</a>
	<a href="https://x.com/yourprofile" aria-label="X" target="_blank">
	  <img src="/assets/img/icons/X.svg" alt="X" class="social-svg">
	</a>
	<a href="https://youtube.com/@fujiwara_amo" aria-label="YouTube" target="_blank">
	  <img src="/assets/img/icons/youtube.svg" alt="YouTube" class="social-svg">
	</a>
	<div class="footer-description">
		<a href="{{ site.github.url }}/">{{ site.title }} </a>
	</div>
</footer>
