<header class="header2">
  <div class="header2-container">

    <!-- Left: Lab Logo (SVG) -->
    <div class="header2-left">
      <img src="{{ site.github.url }}/assets/img/fujiwara_lab_logo.svg" alt="Fujiwara Lab Logo" class="lab-logo">
    </div>

    <!-- Right: Lehigh Logo -->
    <div class="header2-right">
      <a href="https://physics.cas.lehigh.edu/">
        <img src="{{ site.github.url }}/assets/img/Lehigh_University_Logo.png" alt="Lehigh Logo" class="lehigh-logo">
      </a>
    </div>
  </div>

  <!-- Navigation Menu & Social Icons Bar -->
  <div class="menu-social-bar2">
    <div class="menu-links2">
      {% include menu.html %}
    </div>
    <div class="social-icons2">
      <a href="https://github.com/fujiwara-quantum-lab" class="social-icon2 github-icon2" aria-label="GitHub"></a>
      <a href="https://x.com/yourprofile" class="social-icon2 x-icon2" aria-label="X"></a>
      <a href="https://youtube.com/@fujiwara_amo" class="social-icon2 youtube-icon2" aria-label="YouTube"></a>
    </div>
  </div>

  <!-- Divider Bar -->
  <div class="header-divider"></div>
</header>