<header class="header">
  <div class="banner-container">
    <img src="{{ site.github.url }}/assets/img/lehigh_cropped.jpg" alt="Banner image" class="banner-img">

    <!-- Overlay text box -->
    <div class="banner-text-block">
      <a href="{{ site.github.url }}/" class="banner-title">Fujiwara Lab</a>
      <div class="banner-subtitle">Ultracold Quantum Matter</div>
    </div>

    <!-- Top-right logo -->
    <a href="https://physics.cas.lehigh.edu/">
      <img src="{{ site.github.url }}/assets/img/LehighU_official-logo_White.png" alt="Lehigh Logo" class="banner-logo">
    </a>
  </div>

  {% include menu.html %}
</header>