<header class="header2">
  <div class="header2-container">

    <!-- Group: Lab Logo + Social Icons together in one container -->
    <div class="header2-left-group">
      <img src="{{ site.github.url }}/assets/img/fujiwara_lab_logo.svg" alt="Fujiwara Lab Logo" class="lab-logo">

      <div class="social-icons">
        <a href="https://github.com/fujiwara-quantum-lab" aria-label="GitHub" target="_blank">
          <img src="https://cdn.simpleicons.org/github/000000" alt="GitHub" class="social-svg">
        </a>
        <a href="https://x.com/yourprofile" aria-label="X" target="_blank">
          <img src="https://cdn.simpleicons.org/x/1DA1F2" alt="X" class="social-svg">
        </a>
        <a href="https://youtube.com/@fujiwara_amo" aria-label="YouTube" target="_blank">
          <img src="https://cdn.simpleicons.org/youtube/FF0000" alt="YouTube" class="social-svg">
        </a>
      </div>
    </div>

    <!-- Lehigh Logo Right -->
    <div class="header2-right">
      <a href="https://physics.cas.lehigh.edu/">
        <img src="{{ site.github.url }}/assets/img/Lehigh_University_Logo.png" alt="Lehigh Logo" class="lehigh-logo">
      </a>
    </div>

  </div>

  <!-- Menu Bar Below -->
  <!--
  <div class="menu-social-bar">
<div class="menu-links">
  {% for item in site.data.settings.menu %}
    {% if item.name == "resources" %}
      <div class="dropdown">
  <span class="dropdown-label {% if page.url contains '/resources' %}active{% endif %}">resources</span>
  <div class="dropdown-content">
    <a href="{{ site.github.url }}/code_of_conduct/">code of conduct</a>
    <a href="{{ site.github.url }}/teaching/">teaching</a>
    <a href="{{ site.github.url }}/public_data/">public data</a>
  </div>
</div>
    {% else %}
      <a href="{{ site.github.url }}/{{ item.url }}" 
         class="{% if page.url == item.url %}active{% endif %}">{{ item.name }}</a>
    {% endif %}
  {% endfor %}
</div>
  </div>
-->

<div class="topnav">
	{% for item in site.data.settings.menu %}
		{% if item.name == "Resources" %}
			<div class="dropdown">
				<button class="dropdown-content"> Resources</button>
				<div class="dropdown-content">
					<a href="{{ site.github.url }}/code_of_conduct/">Code of Conduct</a>
					<a href="{{ site.github.url }}/teaching/">Teaching</a>
					<a href="{{ site.github.url }}/public_data/">Public Data</a>
				</div>
			</div>
		{% else %}
			<a href="{{ site.github.url }}/{{ item.url }}" 
				class="{% if page.url == item.url %}active{% endif %}">{{ item.name }}</a>
		{% endif %}
	{% endfor %}  
</div>

<!--
  <div class="header-divider"></div>
  -->
</header>