<!--
<header class="header">

 <div class="banner-image">
    <img src="{{ site.github.url }}/assets/img/lehigh_cropped.jpg" alt="Banner image">
  </div>

  <div class="header-top">
    <div class="header-left">
      <a href="{{ site.github.url }}/" class="lab-title">{{ site.title }}</a>
      <div class="lab-subtitle">{{ site.description }}</div>
    </div>
    <a href="https://physics.cas.lehigh.edu/">
      <img src="{{ site.github.url }}/assets/img/Lehigh_University_Logo.png" alt="Lehigh Logo" class="lehigh-logo">
    </a>
  </div>

  {% include menu.html %}
</header>
-->

<header class="header">
  <div class="banner-container">
    <img src="{{ site.github.url }}/assets/img/lehigh_cropped.jpg" alt="Banner image" class="banner-img">

    <!-- Overlay text box -->
    <div class="banner-text-block">
      <a href="{{ site.github.url }}/" class="banner-title">Fujiwara Lab</a>
      <div class="banner-subtitle">Ultracold Quantum Matter</div>
    </div>

    <!-- Top-right logo -->
    <a href="https://physics.cas.lehigh.edu/">
      <img src="{{ site.github.url }}/assets/img/Lehigh_University_Logo.png" alt="Lehigh Logo" class="banner-logo">
    </a>

    <!-- Bottom navigation links -->
    <div class="banner-nav-links">
      <a href="{{ site.github.url }}/research" class="banner-link">Research</a>
      <a href="{{ site.github.url }}/people" class="banner-link">People</a>
      <a href="{{ site.github.url }}/contact" class="banner-link">Contact</a>
    </div>
  </div>

  {% include menu.html %}
</header>