/*
  Site container
*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
}

.content-container {
  margin-bottom: 4rem;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 90vw;
  }
}

/*
  Header
*/
.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  font-family: $sans-serif-font-family;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lab-title {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: $dark-gray-color;
}

.lab-subtitle {
  font-size: 1.2rem;
  color: $light-gray-color;
}

.lehigh-logo {
  height: 3.2rem; /* Adjust this as needed to match title + subtitle visually */
  object-fit: contain;
}