/* === SITE CONTAINER === */
html {
  font-size: 12px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
}

.content-container {
  margin-bottom: 4rem;
  font-family: $sans-serif-font-family;
  font-size: 1rem;
  position: relative;
}

@media (max-width: $container-responsive-width) {
  .container {
    width: 90vw;
  }
}

/* === HEADER2 TOP CONTAINER === */
.header2-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.header2-left-group {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.lab-logo {
  height: 60px;
}

.social-icons {
  display: flex;
  gap: 0.5rem;
}

.social-svg {
  height: 15px;
  width: auto;
  display: inline-block;
}

.header2-right .lehigh-logo {
  height: 60px;
}

/* === MENU BAR === */
.menu-social-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.menu-links {
  display: flex;
  width: auto; /* Change to 100% for full-width bar */
  justify-content: center;
  align-items: stretch;
  background-color: $lehigh-brown-20;
  position: relative;
  gap: 0;

  a,
  .dropdown-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    font-family: $sans-serif-font-family;
    font-size: 1.75rem;
    color: $lehigh-brown-80;
    height: 3rem;
    text-decoration: none;
    border-left: 1px solid transparent;

    &.active {
      background-color: $lehigh-brown-60 !important;
      color: $lehigh-gold !important;
    }
  }

  a:first-child,
  .dropdown-label:first-child {
    border-left: none;
  }
}

.menu-social-bar::before,
.menu-social-bar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4px; /* Adjustable */
  background-color: black; /* Adjustable */
}

.menu-social-bar::before {
  top: 0;
}

.menu-social-bar::after {
  bottom: 0;
}

.header-divider {
  border-bottom: 4px solid black;
  margin: 0;
  margin-bottom: 0.5rem;
}

/* === DROPDOWN MENU === */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 9999;
  flex-direction: column;
}

.dropdown-content a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  color: $lehigh-brown-80;
  background-color: white;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/* === FOOTER === */
.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;

  a {
    color: $light-gray-color;
    padding: 10px;
    text-decoration: none;

    &:hover {
      color: $dark-gray-color;
    }
  }

  .footer-description {
    display: block;
    margin-top: 3px;
    margin-bottom: 1rem;
    color: $light-gray-color;
    font-family: $sans-serif-font-family;
    font-size: 0.8rem;
  }
}
