<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  {% include head.html %}
</head>

<body class="{% if page.toc %}page-with-toc{% endif %}">
  <div class="container">
    {% include header.html %}

    <!-- Content container, TOC will be placed to the right -->
    <div class="content-container">
      {% if page.toc %}
        <div id="markdown-toc">
          * Table of Contents
          {:toc}
        </div>
      {% endif %}

      <!-- Main content remains unchanged -->
      <div class="main-content">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      new Swiper('.person-swiper', {
        loop: true,
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      });
    });
  </script>
</body>

</html>